.color-purple {
    color: #9370db;
}

.color-yellow {
    color: #dbc970;
}

html {
    overflow-x: hidden;
    word-break: keep-all;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f7f8f9;
}

.body-top {
    margin-top: 4rem;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

hr {
    border: 1px solid #dee0e3;
}

a {
    text-decoration: none;
}

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(247, 248, 249, 0.8);
    backdrop-filter: blur(0.5rem);
    transition: transform 0.3s ease-in-out;
    z-index: 1004;
}

.nav-container {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hidden-nav {
    transform: translateY(-100%);
    /* Hides the nav by moving it up */
}

.nav-top-bi {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.nav-top-bi h1 {
    font-size: 2.5rem;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0;
    text-shadow:
        /* text-shadow highlight */
        0 -2px 0 var(--highlight);
}

.logo {
    display: flex;
    width: 3rem;
    height: 3rem;
}

.logo-text {
    margin: 0;
    display: flex;
    flex-direction: column;
}


.tabs {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.tab {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    margin-right: 0.5rem;
    background-color: #e9eaec;
    color: #383e4b;
    border-radius: 5px;
    -webkit-box-shadow: inset 8px 8px 6px -12px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 8px 8px 6px -12px rgba(255, 255, 255, 1);
    box-shadow: inset 8px 8px 6px -12px rgba(255, 255, 255, 1);
}

.tab.active {
    background-color: #9370db;
    color: white;
}

.hamburger-menu .tabs {
    padding: 0;
}

.hamburger-menu .tab {
    margin-right: 0;
}

/* Hamburger menu icon styles */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #383e4b;
    transition: transform 0.3s ease;
    /* Add a smooth transition for icon */
}

.hamburger.active {
    transform: rotate(90deg);
    /* Rotate the hamburger when active */
}

.hamburger-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    background-color: #f1f2f3;
    /* padding: 0 1rem; */
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 1008;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    /* Smooth show/hide */
}

.hamburger-menu.active {
    display: flex;
    max-height: 600px;
    opacity: 1;
}

/* Toggle button for secondary tabs on mobile */
.secondary-toggle {
    display: none;
    background-color: #f1f2f3;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dee0e3;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
}


.secondary-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: auto;
    opacity: 1;
    max-height: none;
    margin-top: 4rem;
    transition: none;
    /* No transition on larger screens */
}

.secondary-tabs.active {
    max-height: 400px;
    /* Adjust depending on content */
    opacity: 1;
}


/* Ensure secondary tabs are above the phone list */
.secondary-tabs.active {
    z-index: 1001;
}


.secondary-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    color: #383e4b;
    background-color: #f7f8f9;
    -webkit-box-shadow: inset 8px 8px 6px -12px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 8px 8px 6px -12px rgba(255, 255, 255, 1);
    box-shadow: inset 8px 8px 6px -12px rgba(255, 255, 255, 1);
}

.secondary-tab.active {
    background-color: #9370db;
    border-radius: 0.5rem;
    color: white;
}

.phone-list {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1.5rem;
}

.phone-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 2rem);
    /* Take 50% width minus the gap */
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border: 1px solid #dee0e3;
    border-radius: 1rem;
    background-color: #fff;
    max-width: calc(50% - 2rem);
}

.phone-details {
    flex-grow: 1;
}

.phone-details h3 {
    margin: 0;
    font-size: 1rem;
}

.phone-details p {
    margin: 0;
    color: #666;
}

.phone-name {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #383e4b;
}

.phone-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 780px;
    padding: 0.75rem 0;
    border-bottom: 1px solid #dee0e3;
}

.phone-storage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 6rem;
    min-width: 6rem;
    height: 6rem;
    border: 1px solid #dee0e3;
    border-radius: 0.5rem;
    background-color: #f1f2f3;
}

.phone-price {
    margin-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.phone-price-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.phone-price-quality {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.25rem;
    color: #383e4b;
}

.phone-price-price {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111314;
}

.deductions {
    display: flex;
    flex-direction: column;
    margin-top: 0.875rem;
    color: red;
}

.deductions-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0 0 0;
    color: red;
}

.deductions-details p {
    font-weight: 600;
    color: #88929c;
    width: 25%;
}

.deductions-details span {
    color: red;
    margin-right: 0.5rem;
}

.loading {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

footer {
    margin: 4rem 0;
}

footer a {
    color: #383e4b;
}

footer p {
    color: #979fb1;
    margin: 0;
}

@media only screen and (min-width: 1060px) and (max-width: 1200px) {
    .phone-price-quality {
        font-size: 0.75rem;
        margin-right: 0.25rem;
    }

    .phone-price-price {
        font-size: 1rem;
    }
}

/* Tablet (Between 768px and 1023px) */
@media only screen and (min-width: 861px) and (max-width: 1059px) {
    .deductions-details p {
        font-weight: 600;
        color: #88929c;
        width: 33.333%;
    }

    .phone-price-quality {
        font-size: 0.75rem;
        margin-right: 0.25rem;
    }

    .phone-price-price {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 860px) {

    .phone-item {
        flex: 1;
        padding: 1rem;
        max-width: 100%;
    }

    .phone-list {
        margin-top: 0;
        flex-direction: column;
    }

    .phone-name {
        margin: 1rem 0 0 0;
    }

    .phone-storage {
        width: 32%;
        height: 8rem;
        margin-bottom: 1.25rem;
    }

    .phone-price-group {
        margin-bottom: 1rem;
    }

    .phone-price {
        margin-left: 1.25rem;
        width: 100%;
    }

    .deductions-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.875rem;
    }

    .deductions-details p {
        font-weight: 600;
        color: #88929c;
        width: 25%;
    }
}

/* Mobile (Between 425px and 767px) */
@media only screen and (max-width: 767px) {

    /* Hide the regular tabs and show hamburger icon */
    .tabs {
        display: none;
    }
    .tab {
        border-radius: 0;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
    }

    .hamburger-menu {
        display: flex;
        /* Hidden until hamburger click */
    }

    /* Hamburger menu will now smoothly transition */
    .hamburger-menu.active {
        max-height: 600px;
        opacity: 1;
    }

    /* Hide secondary tabs, show toggle button */
    .secondary-tabs {
        display: none;
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    .secondary-tabs.active {
        max-height: 400px;
    }

    .secondary-toggle {
        display: block;
    }

    /* Show secondary tabs when toggled */
    .secondary-tabs.active {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        /* Adjust depending on content */
        opacity: 1;
    }

    .phone-storage {
        width: 32%;
        height: 6rem;
    }

    .phone-price {
        margin-left: 1.25rem;
    }

    .quality-group {
        display: flex;
        flex-direction: column;
    }

    .deductions-details p {
        width: 25%;
    }
}

/* Small Mobile (Up to 424px) */
@media only screen and (max-width: 568px) {
     .phone-item {
        flex: 1;
        padding: 1rem;
    }

    .phone-list {
        margin-top: 0;
    }

    .phone-name {
        margin: 1rem 0 0 0;
    }

    .phone-detail {
        flex-direction: column;
    }

    .phone-storage {
        width: 100%;
        height: 4rem;
        margin-bottom: 1.25rem;
    }

    .phone-price-group {
        margin-bottom: 1rem;
    }

    .phone-price {
        margin-left: 0;
        width: 100%;
    }

    .quality-group {
        display: flex;
        flex-direction: column;

    }

    .deductions-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;
    }

    .deductions-details p {
        width: 50%;
    }
}