@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.phone-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.phone-item {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.phone-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.phone-details {
    flex-grow: 1;
}

.phone-details h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.phone-details p {
    margin: 5px 0;
    color: #666;
}

.loading {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}